# Configuración de la base de datos RAW (datos sin procesar)
RAW_DB_HOST=localhost
RAW_DB_PORT=3306
RAW_DB_USERNAME=root
RAW_DB_PASSWORD=Salo*Deportes2702
RAW_DB_DATABASE=raw_pronossport

# Configuración de la base de datos PRONOS (datos procesados)
PRONOS_DB_HOST=localhost
PRONOS_DB_PORT=3306
PRONOS_DB_USERNAME=root
PRONOS_DB_PASSWORD=Salo*Deportes2702
PRONOS_DB_DATABASE=pronossport

# Configuración de la API externa - API-FOTBOL
API_FOOTBALL_KEY=cd4cadd2cef6e67130af45f7fd309bbb
API_FOOTBALL_HOST=v3.football.api-sports.io
API_FOOTBALL_URL=https://v3.football.api-sports.io/
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io/
API_REQUEST_TIMEOUT=30

# Configuración de logging
LOG_LEVEL=INFO
LOG_FILE=logs/pronossport.log

# Configuración de procesamiento
BATCH_SIZE=100
RETRY_ATTEMPTS=3